@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Three Amigos Way<br />
    New York, NY 98052-6399<br />
    <abbr title="Phone Number">P:</abbr>
    567.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Ollie@ThreeAmigos.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Fry@ThreeAmigos.com">Marketing@example.com</a>
</address>